// .movie-card {
//     background-color: red;
// }

.card-body {
    display: grid;
    grid-template-columns: minmax(100px, 1fr) 1fr;
}

// .card-body img {
//     background-color: green;
// }

// .card-body div {
//     background-color: green;
// }

.card-img-top {
    width: 100%;
    max-width: 60px;
    // min-height: 400px;
    // max-height: 400px;
    object-fit: cover;
}

.card-bottom {
    display: flex;
    justify-content: flex-end;
    background-color: var(--light);
}
