.card-img-top {
    width: 100%;
    max-width: 60px;
    // min-height: 400px;
    // max-height: 400px;
    object-fit: cover;
}

.card-footer {
    background-color: white;
}

.card-footer>.btn {
    width: 100%;
    background-color: rgb(190, 42, 42);
}
