.frontpage-body {
    height: 100%;
    display: flex;
    align-items: center;
}

// .greeting-image {
//     width: 100%;
//     height: 100%;
//     background-color: aquamarine;
//     background-size: contain;
//     background-repeat: no-repeat;
//     background-image: url('../../assets/images/undraw_web_search_eetr.svg');
// }

.greeting-image {
    max-width: 50%;
    height: auto;
}

.greeting {
    font-size: 3em;
    text-align: center;
}

