.movie-view {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(255, 238, 238);
    box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.6), -10px -10px 60px 0px #4f67793f, inset -10px -10px 60px 0px rgb(255, 255, 255);
    padding: 1em;
}

.btn {
    background-color: rgb(190, 42, 42);
}