.main-view {
    height: 100vh;
    display: grid;
    grid-template-rows: 3em 1fr;
}

.main-content {
    margin: 1em;
}

.container-login-view {
    width: 26em;
}

.container-movie-cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}